TELEGRAM_TOKEN=replace_me
CHAT_IDS=-1000000000000,-1000000000001
EMBY_API_URL=http://emby:8096/emby
EMBY_API_KEY=replace_me
WEBHOOK_SECRET=replace_me_with_a_long_random_value
REQUEST_TIMEOUT_SECONDS=15
EPISODE_BUFFER_SECONDS=60

